# Python
__pycache__/
*.pyc
*.pyo

# Virtual environment
venv/
.env

data/

# Large processed data
data/processed/*.npy
data/processed/*.bin
data/processed/*.pkl
data/processed/*.parquet

# Raw datasets
data/raw/



# VSCode
.vscode/

# OS
.DS_Store
